/* ==========================================================================
   FONTS - Self-hosted para mejor rendimiento
   ========================================================================== */

@font-face {
  font-family: 'Lora';
  src: url('/fonts/lora-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/roboto-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
